<header id="top-header">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Top Navigation Menu -->
<div class="hamLogo-container">
<!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
<a class="hamburger" onclick="myFunction()" aria-expanded="false">
  <i class="fa fa-bars"></i>
</a>
<!--SiteName or Logo-->
<span class="siteName">
  <a href="/" title="Return to home page">CSE Motors</a>
</span>

</div>
  
<!-- Navigation links (hidden by default) -->
  <ul class="myLinksOnTopBar" >
    <li class="hvr-bounce-to-right">Home</li>
    <li class="hvr-bounce-to-right">Custom</li>
    <li class="hvr-bounce-to-right">Sedan</li>
    <li class="hvr-bounce-to-right">SUV</li>
    <li class="hvr-bounce-to-right">Trucks</li>
</ul>
<div class="contactLogin-container">
       <div class="contact hvr-bounce-to-right"> 
    <a title="Click to log in" href="/account/login">Contact</a>
  </div>
  <div class="tools hvr-bounce-to-right">
    <a title="Click to log in" href="/account/login">Login</a>
  </div>
</div>
  
<!--</div>--> 


    

   
   <!-- <div id="tools">
      <a title="Click to log in" href="/account/login">Login</a>
    </div>-->

  </header>