<header id="top-header">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Top Navigation Menu -->
<!--<div class="topnav">-->
  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  <a class="hamburger" onclick="myFunction()" aria-expanded="false">
    <i class="fa fa-bars"></i>
  </a>
  

  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>

  
   


 <!-- <a href="#home" class="active">Logo</a>-->
  <!-- Navigation links (hidden by default) -->
 <!-- <div id="myLinks">
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>-->

  <div id="tools">
    <a title="Click to log in" href="/account/login">Contact</a>
  </div>
  <div id="tools">
    <a title="Click to log in" href="/account/login">Login</a>
  </div>
<!--</div>-->


    

   
   <!-- <div id="tools">
      <a title="Click to log in" href="/account/login">Login</a>
    </div>-->

  </header>