<!-- <nav id="navigaionContainer">
    <ul id="navigationMenu">
        <li>Home</li>
        <li>Custom</li>
        <li>Sedan</li>
        <li>SUV</li>
        <li>Trucks</li>
    </ul>
</nav> -->

<ul id="myLinks">
    <li>Home</li>
    <li>Custom</li>
    <li>Sedan</li>
    <li>SUV</li>
    <li>Trucks</li>
</ul>